body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf9ec;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 56px; /* Adjust based on your navbar height */
}

header {
    background-color: #008080;
    padding: 15px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-dropdown {
    display: flex;
    align-items: center;
}

nav a img {
    height: 50px;
    margin-right: 10px;
}

nav select,
nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px;
    color: #36454F;
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    flex: 1;
    border-radius: 5px;
    padding: 10px 5px;
}

nav .material-icons {
    background-color: #008080;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
}

/* Ensure the navbar background color is applied */
.navbar {
    background-color: #008080 !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: #fcf9ec !important;
}

.navbar-toggler {
    border-color: #fcf9ec !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28252, 249, 236, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Content Section */
.content {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    padding: 40px 0px;
}

.details-content {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    padding: 10px 0px;
}

.details-content .details-image img,
.banner-img {
    height: auto;
    width: 350px; /* Adjust the image size */
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 15px; /* Optional for a rounded effect */
}

/* Text Styling */
.text {
    flex: 1;
    margin: 2rem 0px; /* Adjust margin to reduce space */
    color: #36454F;
    text-align: center; /* Center the text */
}

.text h1 {
    color: #E57F3D;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px; /* Adjust the size slightly */
    margin-bottom: 1rem; /* Decrease margin */
}

.text p {
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    font-size: 48px; /* Adjust the font size */
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

/* Additional Styling */
.circular {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: #E57F3D;
    color: #008080;
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    margin: 40px 0px 10px 0px;
    font-size: 18px;
}

h2 {
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 400;
}

.description {
    color: #36454F;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    word-spacing: 1px;
}

.pets-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    color: #36454F;
}

.pets-image {
    max-width: 50%;
}

.pets-image img {
    width: 100%;
    height: auto;
}

.pets-table {
    max-width: 50%;
}

table {
    width: 30vw;
    border: 1px solid;
}

th, td {
    padding: 3px;
    text-align: left;
}

th {
    color: #008080;
}

th:last-child {
    border-right: 1px solid #dfdfdf;
}

td {
    color: #36454F;
}

.sub-title {
    font-family: 'Ysabeau SC', sans-serif;
    color: #36454F;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}

/* Image Container */
.image-container {
    flex: 1 1 300px; /* Set a flexible basis for each container */
    max-width: 300px;
    height: auto;
    margin: 10px;
    position: relative;
    border: 0.1px solid #ccc;
    border-radius: 25px;
    color: #36454F;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.05);
}

.image-container img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.image-container p {
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.image-container:hover img {
    opacity: 0.4;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
}

.image-container:hover .hover-overlay {
    opacity: 1;
}

.hover-overlay .fa-search {
    font-size: 34px;
    margin-bottom: 15px;
}

.hover-overlay .discover-more {
    font-weight: 400;
    text-decoration: underline;
}

.navbar-brand img {
    max-height: 40px;
}
