body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf9ec;
    max-width: 1200px;
    margin: 0 auto;
}

/* ... (all existing styles remain unchanged) ... */

.hover-overlay .discover-more {
    font-weight: 400;
    text-decoration: underline;
}

/* New styles for pet details page */
.pet-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    word-spacing: 1px;
}

.pet-details .pet-image img {
    max-width: 100%;
    height: auto;
}

.pets-table {
    max-width: 50%;
}

table {
    width: 30vw;
    border: 1px solid;
}

th, td {
    padding: 3px;
    text-align: left;
}

th {
    color: #008080
}

th:last-child {
    border-right: 1px solid #dfdfdf;
}

td {
    color: #36454F;
}

.sub-title {
    font-family: 'Ysabeau SC', sans-serif;
    color: #36454F;;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}

.add-pet-form {
    width: 100%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.pet-details .pet-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pet-details .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.pet-details .info-item .icon {
    font-size: 2em;
    margin-bottom: 5px;
}

.pet-details .info-item p {
    margin: 0;
    font-size: 0.9em;
    color: #36454F;
    transition: transform 0.3s ease-in-out;
}

.pet-details h2 {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: normal;
}

.pet-details .pet-description {
    font-size: 1em;
    color: #36454F;
    line-height: 1.4;
    text-align: center;
}

.image-container img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover img {
    opacity: 0.4; 
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
}

.image-container:hover .hover-overlay {
    opacity: 1;
}

.hover-overlay .fa-search {
    font-size: 34px;
    margin-bottom: 15px;
}

.hover-overlay .discover-more {
    font-weight: 400;
    text-decoration: underline;
}
