body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf9ec;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #008080;
    padding: 15px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-dropdown {
    display: flex;
    align-items: center;
}

nav a img {
    height: 50px;
    margin-right: 10px;
}

nav select,
nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px;
    color:#36454F;
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    flex: 1;
    border-radius: 5px;
    padding: 10px 5px;
}

nav .material-icons {
    background-color: #008080;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.details-content{
    display: block;
    text-align: center;
    padding: 10px 0px;
}

.details-content .details-image{
    margin: 60px 0px 30px 0px;
}

.details-content .details-image img{
    height: auto;
    width: 450px;
}

.details-content .details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0px;
}

.text {
    flex: 1;
    margin: 6rem 0px;
    color:#36454F;
}

.text h1 {
    color: #E57F3D;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    margin-bottom: 3rem
}

.text p {
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}

.banner-img{
    width: 400px;
    height: auto;
}

.circular {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.pets-heading{
    margin: 3rem 0px;
}

footer {
    background-color: #E57F3D;
    color: #008080 ;
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    margin: 40px 0px 10px 0px;
    font-size: 18px;
}

h2 {
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 400;
}

.description {
    color: #36454F;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    word-spacing: 1px;
}

.pets-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    color: #36454F;
}

.pets-image {
    max-width: 50%;
}

.pets-image img {
    width: 100%;
    height: auto;
}

.pets-table {
    max-width: 50%;
}

table {
    width: 30vw;
    border: 1px solid;
}

th, td {
    padding: 3px;
    text-align: left;
}

th {
    color: #008080
}

th:last-child {
    border-right: 1px solid #dfdfdf;
}

td {
    color: #36454F;
}

.sub-title {
    font-family: 'Ysabeau SC', sans-serif;
    color: #36454F;;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}

.add-pet-form {
    width: 100%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}


label {
    display: block;
    color: #008080;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

label span {
    color: red;
}

.choose-file{
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #36454F;
    font-family: 'Exo',sans-serif;
}

.full-width {
    width: 100%;
}

textarea {
    height: 100px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

button {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

button span.material-icons {
    margin-right: 8px;
    font-size: 20px;
}

button:hover {
    background-color: #008080;
    color:#E57F3D 
}

.clear-button {
    background-color: #ffff;
    border: 1.5px solid #008080;
    color: #008080;
}

.max-size {
    display: inline-block;
    margin-left: 10px;
    color: red;
    font-style: italic;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 5px; /* Add some gap between the items */
}

.image-container {
    flex: 1 1 300px; /* Set a flexible basis for each container */
    max-width: 300px; /* Ensure the max width doesn't exceed 300px */
    height: auto;
    margin: 10px; /* Add some margin for spacing */
    position: relative;
    border: 0.1px solid #ccc;
    border-radius: 25px;
    color: #36454F;
    transition: transform 0.3s ease-in-out;
}

/* Optional: Add a hover effect to scale up the image container */
.image-container:hover {
    transform: scale(1.05); /* Slightly scale the container on hover */
}

.image-container img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.image-container p {
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.image-container img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover img {
    opacity: 0.4; 
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
}

.image-container:hover .hover-overlay {
    opacity: 1;
}

.hover-overlay .fa-search {
    font-size: 34px;
    margin-bottom: 15px;
}

.hover-overlay .discover-more {
    font-weight: 400;
    text-decoration: underline;
}
